@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  max-width: 1440px;
  margin: auto;
}
.no-click-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.topContainer {
  display: flex;
}
.topContainer .landingBlob {
  display: flex;
  position: inherit;
  left: 95px;
  top: 0px;
  z-index: -2;
}
.topContainer .landingTopIllustration {
  display: flex;
  position: relative;
  z-index: -1;
  align-self: center;
  right: 45px;
  top: 30px;
}
.topContainer .headerContainer {
  display: flex;
  width: 1259px;
  justify-content: space-between;
  z-index: 0;
  position: absolute;
  padding-top: 30px;
  height: 72px;
  margin-left: 50px;
}
.topContainer .headerContainer .header {
  display: flex;
  justify-content: flex-start;
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: whitesmoke;
}
.topContainer .headerContainer .navcontainer {
  display: flex;
  justify-content: space-between;
  width: 520px;
  align-items: center;
}
.topContainer .headerContainer .navcontainer .navlink {
  box-sizing: border-box;
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  align-items: center;
  height: 44px;
  color: rgba(19, 20, 24, 0.87);
  text-decoration: none;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 0 10px;
}
.topContainer .headerContainer .navcontainer .navlink:hover {
  border: 3px solid #6891F9;
  box-sizing: border-box;
  border-radius: 20px;
}
.topContainer .topLeft .mainContainer {
  position: absolute;
  top: 200px;
  margin-left: 50px;
  width: 500px;
}
.topContainer .topLeft .mainContainer h2 {
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.5px;
  color: #FCFCFE;
}
.topContainer .topLeft .mainContainer h3 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #FCFCFE;
  margin: 25px 0;
}
