@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.maincontainer {
  display: flex;
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .maincontainer {
    margin: 0 auto;
  }
}
.maincontainer .matchesheader {
  display: flex;
  width: 100%;
  height: 103px;
  justify-content: center;
  background: #6891F9;
}
@media (max-width: 500px) {
  .maincontainer .matchesheader {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.maincontainer .matchesheader .matchescontent {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 40px;
  width: 75%;
}
@media (max-width: 500px) {
  .maincontainer .matchesheader .matchescontent {
    flex-direction: column;
    margin: 0;
    height: auto;
  }
}
.maincontainer .matchesheader .matchescontent .matchestitle {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #FCFCFE;
  height: 34px;
}
@media (max-width: 500px) {
  .maincontainer .matchesheader .matchescontent .matchestitle {
    height: auto;
    margin: 0 auto;
  }
}
.maincontainer .matchesheader .matchescontent .searchcontainer {
  display: flex;
}
@media (max-width: 500px) {
  .maincontainer .matchesheader .matchescontent .searchcontainer {
    padding-bottom: 5px;
    margin-top: 5px;
  }
}
.maincontainer .matchesheader .matchescontent .searchcontainer .magnify {
  display: flex;
  height: 36px;
  left: 38%;
  top: 35px;
  background: #FFFFFF;
  z-index: 1;
  box-sizing: border-box;
  border-top: 1px solid #4C6AB6;
  border-left: 1px solid #4C6AB6;
  border-bottom: 1px solid #4C6AB6;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 3px;
}
.maincontainer .matchesheader .matchescontent .searchcontainer .searchbar {
  display: flex;
  height: 36px;
  width: 310px;
  background: #FFFFFF;
  border: 1px solid #4C6AB6;
  box-sizing: border-box;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.maincontainer .matchesheader .matchescontent .bell {
  display: flex;
  width: 37px;
  height: 33px;
}
@media (max-width: 500px) {
  .maincontainer .matchesheader .matchescontent .bell {
    position: absolute;
    margin-top: 5px;
    top: 0px;
  }
}
.maincontainer .matchesheader .matchescontent .cog {
  display: flex;
  width: 35px;
  height: 37px;
}
@media (max-width: 500px) {
  .maincontainer .matchesheader .matchescontent .cog {
    position: absolute;
    margin-top: 5px;
    top: 0px;
    right: 55px;
  }
}
.maincontainer .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 314px;
  height: 600px;
  background: #6891F9;
  padding-bottom: 150px;
}
@media (max-width: 500px) {
  .maincontainer .sidebar {
    display: none;
  }
}
.maincontainer .sidebar .profilepicture {
  display: flex;
  margin-top: 40px;
  width: 127px;
  height: 127px;
}
.maincontainer .sidebar .username {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FCFCFE;
  text-align: center;
}
.maincontainer .sidebar .editprofile {
  display: flex;
  width: 99px;
  height: 31px;
  border: 1px solid #FCFCFE;
  color: white;
  background: #6891F9;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
}
.maincontainer .sidebar .editprofile:hover {
  border: 1px solid black;
  color: black;
}
.maincontainer .sidebar .suitcase {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
  cursor: pointer;
}
.maincontainer .sidebar .suitcase .suitcaseicon {
  display: flex;
  width: 39px;
  padding-left: 20px;
  padding-right: 25px;
  align-content: center;
  align-self: center;
}
.maincontainer .sidebar .suitcase .sidebartxt1 {
  display: flex;
  align-content: center;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .sidebar .user {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}
.maincontainer .sidebar .user .usericon {
  display: flex;
  width: 39px;
  padding-left: 20px;
  padding-right: 25px;
  align-content: center;
  align-self: center;
}
.maincontainer .sidebar .user .sidebartxt2 {
  display: flex;
  align-content: center;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .sidebar .heart {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
  cursor: pointer;
}
.maincontainer .sidebar .heart .hearticon {
  display: flex;
  width: 39px;
  padding-left: 20px;
  padding-right: 25px;
  align-content: center;
  align-self: center;
}
.maincontainer .sidebar .heart .sidebartxt3 {
  display: flex;
  align-content: center;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #F0DC82;
}
.maincontainer .sidebar .messages {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}
.maincontainer .sidebar .messages .commenticon {
  display: flex;
  width: 39px;
  padding-left: 20px;
  padding-right: 25px;
  align-content: center;
  align-self: center;
}
.maincontainer .sidebar .messages .sidebartxt4 {
  display: flex;
  align-content: center;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .sidebar .goodbye {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}
.maincontainer .sidebar .goodbye .powericon {
  display: flex;
  width: 39px;
  padding-left: 20px;
  padding-right: 25px;
  align-content: center;
  align-self: center;
}
.maincontainer .sidebar .goodbye .logout {
  display: flex;
  align-content: center;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .matchescontainer {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  top: 100px;
  margin-left: 300px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .maincontainer .matchescontainer {
    margin: 0 auto;
    top: 100px;
  }
}
.maincontainer .matchescontainer .jobcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 10px;
  height: auto;
  min-width: 307px;
  box-sizing: border-box;
  background-color: #E3EBFD;
}
@media (max-width: 500px) {
  .maincontainer .matchescontainer .jobcontainer {
    width: 50%;
  }
}
.maincontainer .matchescontainer .jobcontainer .topbackground {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background-color: #4C6AB6;
  width: 100%;
  height: 82px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #1D2844;
}
.maincontainer .matchescontainer .jobcontainer .companyinfo {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(38, 40, 47, 0.6);
  text-align: center;
}
.maincontainer .matchescontainer .jobcontainer .jobdescription {
  display: flex;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1D2844;
  text-align: center;
}
.maincontainer .matchescontainer .jobcontainer .buttoncontainer {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.maincontainer .matchescontainer .jobcontainer .buttoncontainer .apply {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 77px;
  height: 25px;
  color: white;
  justify-content: center;
  background-color: #E5C01B;
  border-radius: 5px;
  border: 1px solid #E5C01B;
  cursor: pointer;
}
.maincontainer .matchescontainer .jobcontainer .buttoncontainer .viewmore {
  display: flex;
  color: black;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 77px;
  height: 25px;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E5C01B;
  cursor: pointer;
}
