@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.maincontainer {
  margin: 0 auto;
  max-width: 1452px;
}
@media (max-width: 500px) {
  .maincontainer {
    width: 500px;
    margin: 0 auto;
  }
}
.maincontainer .matchesheader {
  display: flex;
  position: absolute;
  width: 1200px;
  height: 103px;
  left: 309px;
  top: 0px;
  background: #6891F9;
}
.maincontainer .matchesheader .matchestitle {
  position: absolute;
  width: 134px;
  height: 40px;
  margin-left: 25px;
  top: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #FCFCFE;
}
.maincontainer .matchesheader .magnify {
  display: flex;
  position: absolute;
  height: 36px;
  left: 38%;
  top: 35px;
  background: #FFFFFF;
  z-index: 1;
  box-sizing: border-box;
  border-top: 1px solid #4C6AB6;
  border-left: 1px solid #4C6AB6;
  border-bottom: 1px solid #4C6AB6;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 3px;
}
.maincontainer .matchesheader .searchbar {
  display: flex;
  position: absolute;
  height: 36px;
  width: 310px;
  left: 41%;
  top: 35px;
  background: #FFFFFF;
  border: 1px solid #4C6AB6;
  box-sizing: border-box;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.maincontainer .matchesheader .bell {
  display: flex;
  position: absolute;
  width: 37px;
  height: 33px;
  left: 900px;
  top: 39px;
}
.maincontainer .matchesheader .cog {
  display: flex;
  position: absolute;
  width: 35px;
  height: 37px;
  left: 960px;
  top: 36px;
}
.maincontainer .sidebar {
  position: absolute;
  width: 314px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #6891F9;
}
.maincontainer .sidebar .profilepicture {
  display: flex;
  position: absolute;
  width: 127px;
  height: 127px;
  left: 101px;
  top: 62px;
}
.maincontainer .sidebar .username {
  position: absolute;
  width: 152px;
  height: 29px;
  left: 85px;
  top: 215px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FCFCFE;
}
.maincontainer .sidebar .editprofile {
  position: absolute;
  width: 99px;
  height: 31px;
  left: 111px;
  top: 259px;
  border: 1px solid #FCFCFE;
  color: white;
  background: #6891F9;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.maincontainer .sidebar .editprofile:hover {
  border: 1px solid black;
  color: black;
}
.maincontainer .sidebar .suitcaseicon {
  display: flex;
  position: absolute;
  width: 39px;
  height: 34px;
  left: 77px;
  top: 331px;
}
.maincontainer .sidebar .usericon {
  display: flex;
  position: absolute;
  width: 28px;
  height: 32px;
  left: 79px;
  top: 393px;
}
.maincontainer .sidebar .hearticon {
  display: flex;
  position: absolute;
  width: 32px;
  height: 28px;
  left: 77px;
  top: 462px;
}
.maincontainer .sidebar .commenticon {
  display: flex;
  position: absolute;
  width: 32px;
  height: 28px;
  left: 77px;
  top: 523px;
}
.maincontainer .sidebar .powericon {
  display: flex;
  position: absolute;
  width: 31.49px;
  height: 32px;
  left: 87px;
  top: 944px;
}
.maincontainer .sidebar .sidebartxt1 {
  display: flex;
  position: absolute;
  width: 112px;
  height: 24px;
  left: 139px;
  top: 335px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .sidebar .sidebartxt2 {
  display: flex;
  position: absolute;
  width: 60px;
  height: 24px;
  left: 135px;
  top: 396px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-left: 4px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .sidebar .sidebartxt3 {
  display: flex;
  position: absolute;
  width: 79px;
  height: 24px;
  left: 135px;
  top: 463px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-left: 4px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #F0DC82;
}
.maincontainer .sidebar .sidebartxt4 {
  position: absolute;
  width: 94px;
  height: 24px;
  left: 135px;
  top: 524px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-left: 4px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .sidebar .logout {
  position: absolute;
  width: 64px;
  height: 24px;
  left: 153px;
  top: 948px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-left: 4px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FCFCFE;
}
.maincontainer .matchescontainer {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  top: 150px;
  left: 450px;
  width: 1000px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.maincontainer .matchescontainer .jobcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0;
  height: auto;
  min-width: 307px;
  box-sizing: border-box;
  background-color: #E3EBFD;
}
.maincontainer .matchescontainer .jobcontainer .topbackground {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background-color: #4C6AB6;
  width: 100%;
  height: 82px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #1D2844;
}
.maincontainer .matchescontainer .jobcontainer .companyinfo {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(38, 40, 47, 0.6);
  text-align: center;
}
.maincontainer .matchescontainer .jobcontainer .jobdescription {
  display: flex;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1D2844;
  text-align: center;
}
.maincontainer .matchescontainer .jobcontainer .buttoncontainer {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.maincontainer .matchescontainer .jobcontainer .buttoncontainer .apply {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 77px;
  height: 25px;
  color: white;
  justify-content: center;
  background-color: #E5C01B;
  border-radius: 5px;
  border: 1px solid #E5C01B;
  cursor: pointer;
}
.maincontainer .matchescontainer .jobcontainer .buttoncontainer .viewmore {
  display: flex;
  color: black;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 77px;
  height: 25px;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E5C01B;
  cursor: pointer;
}
