@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.maincontainer {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}
@media (max-width: 500px) {
  .maincontainer {
    width: 499px;
    margin: 0 auto;
  }
}
.maincontainer .backgroundvector {
  display: flex;
  position: inherit;
  left: 95px;
  top: 0px;
  z-index: -2;
}
@media (max-width: 500px) {
  .maincontainer .backgroundvector {
    display: none;
  }
}
.maincontainer .loginillustration {
  display: flex;
  position: absolute;
  z-index: -1;
  align-self: center;
}
@media (max-width: 500px) {
  .maincontainer .loginillustration {
    display: none;
  }
}
.maincontainer .logincontainer {
  display: flex;
  flex-direction: column;
  width: 539px;
  flex-wrap: wrap;
  position: inherit;
  margin-top: 222px;
  margin-left: 70px;
  align-content: space-evenly;
}
@media (max-width: 500px) {
  .maincontainer .logincontainer {
    width: auto;
    margin: 0 auto;
    margin-top: 100px;
  }
}
.maincontainer .logincontainer h2 {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.5px;
  color: rgba(19, 20, 24, 0.87);
  height: 60px;
  margin: 10px 0;
}
.maincontainer .logincontainer .linkedinlogin {
  display: flex;
  height: 70px;
  margin: 0 auto;
}
.maincontainer .logincontainer .ordivider {
  display: flex;
  margin: 15px 0;
}
.maincontainer .logincontainer .email {
  display: flex;
  width: 368px;
  height: 55px;
  background-color: lightgrey;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(38, 40, 47, 0.6);
  mix-blend-mode: normal;
  margin: 15px 0 5px;
  margin-left: 15px;
  border-bottom: 1px solid grey;
}
.maincontainer .logincontainer .password {
  display: flex;
  width: 368px;
  height: 55px;
  background-color: lightgrey;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(38, 40, 47, 0.6);
  mix-blend-mode: normal;
  margin: 10px 0 2px;
  margin-left: 15px;
  border-bottom: 1px solid grey;
}
.maincontainer .logincontainer .savepw {
  display: flex;
  width: 368px;
  height: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(19, 20, 24, 0.87);
  margin: 2px 0;
  margin-left: 10px;
}
.maincontainer .logincontainer .savepw .savepwdown {
  padding-top: 3px;
}
.maincontainer .logincontainer .loginbutton {
  width: 100px;
  height: 35px;
  color: white;
  border-radius: 20px;
  font: inherit;
  background-color: #6891F9;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
}
.maincontainer .logincontainer .signuplink {
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #4C6AB6;
}
.maincontainer .headercontainer {
  display: flex;
  width: 1259px;
  justify-content: space-between;
  z-index: 0;
  position: absolute;
  padding-top: 30px;
  height: 72px;
  margin-left: 50px;
}
@media (max-width: 500px) {
  .maincontainer .headercontainer {
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding: 0;
  }
}
.maincontainer .headercontainer .header {
  display: flex;
  justify-content: flex-start;
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: whitesmoke;
}
@media (max-width: 500px) {
  .maincontainer .headercontainer .header {
    justify-content: center;
    font-size: 32px;
    line-height: 65px;
    color: #6891F9;
  }
}
.maincontainer .headercontainer .navcontainer {
  display: flex;
  justify-content: space-between;
  width: 572px;
  align-items: center;
}
@media (max-width: 500px) {
  .maincontainer .headercontainer .navcontainer {
    width: 500px;
    justify-content: space-evenly;
    font-size: 32px;
    line-height: 65px;
    color: #6891F9;
    margin: 0 auto;
  }
}
.maincontainer .headercontainer .navcontainer .navlink {
  box-sizing: border-box;
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  align-items: center;
  height: 44px;
  color: rgba(19, 20, 24, 0.87);
  text-decoration: none;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .maincontainer .headercontainer .navcontainer .navlink {
    font-size: 12px;
  }
}
.maincontainer .headercontainer .navcontainer .navlink:hover {
  border: 3px solid #6891F9;
  box-sizing: border-box;
  border-radius: 20px;
}
