@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import './reset.less';
// @import './sign_up';
// @import './login';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0; 
  padding: 0;
}

body {
  font-family: 'Roboto';
  max-width: 1440px;
  margin: auto;
}

.no-click-img {
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.topContainer {
	display: flex;

	.landingBlob {
		display: flex;
		position: inherit;
		left: 95px;
		top: 0px;
		z-index: -2;
	}
		
	.landingTopIllustration {
		display: flex;
		position: relative;
		z-index: -1;
		align-self: center;
		right: 45px;
		top: 30px;
	}


	.headerContainer {
		display: flex;
		width: 1259px;
		justify-content: space-between;
		z-index: 0;
		position: absolute;
		padding-top: 30px;
		height: 72px;
		margin-left: 50px;

		.header {
			display: flex;
			justify-content: flex-start;
			font-family: 'Reem Kufi';
			font-style: normal;
			font-weight: normal;
			font-size: 48px;
			line-height: 72px;
			color: whitesmoke;
		}

		.navcontainer {
			display: flex;
			justify-content: space-between;
			width: 520px;
			align-items: center;

			.navlink {
			box-sizing: border-box;
			display: flex;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.15px;
			align-items: center;
			height: 44px;
			color: rgba(19, 20, 24, 0.87);
			text-decoration: none;
			border:3px solid rgba(0,0,0,0);
			border-radius: 20px;
			padding: 0 10px;

				&:hover {
					border: 3px solid #6891F9;
					box-sizing: border-box;
					border-radius: 20px;

				}
			}
		}
	}
	.topLeft {
		
		.mainContainer {
			position: absolute;
			top: 200px;
			margin-left: 50px;
			width: 500px;

			h2 {
				font-weight: 300;
				font-size: 60px;
				line-height: 70px;
				letter-spacing: -0.5px;
				color: #FCFCFE;
			}

			h3 {
				font-size: 30px;
				line-height: 40px;
				letter-spacing: 0.25px;
				color: #FCFCFE;
				margin: 25px 0;
			}
		}
	}
}

.contentContainer {
	margin: 20px 50px;

	.featuresContainer {

		h2 {
			font-size: 38px;
			line-height: 45px;
			color: #000000;
			text-align: center;
		}
		.features {
			padding: 40px;
			display: flex;
			flex-flow: row;
			align-items: flex-end;
			justify-content: space-around;

			.feature {
				width: 240px; 

				h3 {
					font-size: 20px;
					line-height: 23px;
					letter-spacing: 0.15px;
				}
				p {
					font-size: 18px;
					line-height: 28px;
					letter-spacing: 0.5px;
					color: rgba(38, 40, 47, 0.6);
				}
			}
		}
	}
}