@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './reset.less';

.navcontainer {
	display: flex;
	max-width: 1440px;
	.header {
		display: flex;
		font-family: 'ReemKufi';
	}
	.navlink {

	}
}
