@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import './reset';

html {
    background-color: #6891F9;
    font-family: 'Roboto';
}

.container {
    width: 1440px;
    margin: 0 auto;
    .header-container {
        margin: 45px 80px 20px 80px;
        .site-title {
            padding: 30px 0;
            font-family: 'Reem Kufi';
            font-size: 3.1em;
            color: #fff;
        }
    }
    .main-container {
        margin: 25px 80px;

        .fPageTitle {
            color: #fff;
            font-size: 3.5em;
            font-weight: 300;
            line-height: 1.2em;
            padding-top: 5px;
        }
        .fPageDescription {
            color: #fff;
            font-size: 2em;
            font-weight: 300;
            line-height: 1.2em;
            padding-top: 5px;
        }

        .tabs-container {
            background-color: rgba(252, 252, 254, 0.54);
            border-radius: 8px;
            padding: 30px 80px;
            margin: 40px 0;
            .tabs {
                display: flex;
                flex-flow: row;
                justify-content: center;
    
                .tab {
                    color: rgba(57, 60, 70, 0.38);
                    font-size: 1.6em;
                    border-bottom: solid 1px rgba(57, 60, 70, 0.38);
                    padding: 15px;
                }
                .active-tab {
                    color: rgba(19, 20, 24, 0.87);
                    border-bottom-color: rgba(19, 20, 24, 0.87);
                    border-bottom-width: 5px;
                }
            }

            .tab-sections {
                margin-top: 40px;

                .tab-data {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    padding-top: 40px;

                    .formHalf {

                        .inputRow {
                            width: 700px;
                            display: flex;
                            flex-flow: row;
                            // justify-content: space-between;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            input {
                                background-color: #fff;
                                padding: 15px 10px;
                                border: 1px solid lightgrey;
                                border-bottom-width: 2px;
                                font-size: 1em;
                            }
                        }

                        .uploadBox {
                            width: 302px;
                            height: 302px;
                            background-color: #ECEFF7;
                            border: 1px dashed #9EB9FB;
                            border-radius: 10px;

                            input[type="file"] {
                                width: 0.1px;
                                height: 0.1px;
                                opacity: 0;
                                overflow: hidden;
                                position: absolute;
                                z-index: -1;
                                // color: transparent;
                                // visibility: hidden;

                            // https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a
                            }

                            #upload-form-img {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
